header{
    margin: 0;
    padding: 0;
    width: 100%;
    
    background-color: blue;
}

header .branding{
    display: flex;
    align-items: center;
}

.branding .brand-logo{
    width:80px
}

.branding .brand-name{
    font-size: 2.3em;
}