header{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    background-color: blue;
    justify-content: space-around;
}

header .branding{
    display: flex;
    width:25%;
    align-items: center;
}

.branding .brand-logo{
    width:80px
}

.branding .brand-name{
    font-size: 2.3em;
}

nav{
    display: flex;
    width:75%;
    justify-content: space-around;
}

.nav-links{
    width:50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-buttons{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-search{
    width:200px;
    background-color: red;
    position: relative;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

#nav-search input{
    width: 100%;
    padding: 8px 12px;
    border: none;
}
#nav-search input:focus{
    outline: none;
}

#nav-search > span{
    position: absolute;
    padding: 3px;
    right:0;
    top:0;
    background-color: aqua;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


